/* Font-famliy start*/
@font-face {
	font-family: "m100";
	src:url("../fonts/m100.eot");
}
@font-face {
	font-family: "m100";
	src:url("../fonts/m100.otf");
}
@font-face {
	font-family: "m300";
	src:url("../fonts/m300.eot");
}
@font-face {
	font-family: "m300";
	src:url("../fonts/m300.otf");
}
@font-face {
	font-family: "m500";
	src:url("../fonts/m500.eot");
}
@font-face {
	font-family: "m500";
	src:url("../fonts/m500.otf");
}
/* Custom CSS start*/
.container-fluid {
	width: 100%;
	height: auto;
}
.container {
	margin: 0 auto;
	width: 1160px;
	height: auto;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-center {
	text-align: center;
}
.text-white {
	color:white;
}
.fix{
	overflow: hidden;
}
/* Top bar start*/
.topbar {
	padding: 5px 0;
}
.contact {
	font-size: 12px;
	font-family: "m300";
}
.phone {
	margin-right: 20px; 
}
.phone img {
	width: 9px;
	margin-top:-4px;
}
.email p {
	font-size: 13px;
	margin-top: 10px;
}
.email img {
	width:16px;
}
.menu {
	padding-top: 15px; 
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li {
	display: inline-block;
	margin-left: 20px;
}
.menu a {
	display: block;
	text-decoration: none;
	color:#333;
	font-family: "m300";
	font-size:14px;
}
.menu a:hover {
	color:#666;
}
/* Header start*/
.header {
	background-color:#ffcc99;
	padding: 60px 0;
	margin-bottom: 40px;
}
.logo {
	margin-right: 210px;
}
.logo_text h1 {
	font-family: "fantasy";
    color: #463f38;
    font-size: 40px;
    margin: 0;
    line-height: 37px;
}	
.logo_text p {
	font-size: 14px;
    font-weight: 600;
    font-family: "m300";
    margin: 0;
}
.logo_icon img {
	padding-left: 6px;
	padding-top: 2px;
}
.navigation {
	padding-top: 15px;
}
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li {
	display: inline-block;
	margin-left:10px;
}
.navigation a {
	color:#444;
	text-decoration: none;
	font-family: "m500";
}
.navigation a:hover {
	color: #666;
}
.navigation li:after {
content:"/";
font-weight: bold;
color:#f55856;
padding-left:40px;
padding-right:25px;
}
.navigation li:last-child:after{
  content:""
}
.cart_text {
	margin-right: 15px;
}
.cart_text p {
	margin: 0;
	font-family: "m300";
	color:#333;
}
.cart_text h4 {
	margin: 0;
	color: #333;
}
.cart_icon img {
	width: 45px;
	padding-top: 5px;
}
/* Slider start*/
.slider {
	margin-bottom: 40px;
}
.slider_back {
	position: relative;
}
.slider_back img {
	width: 100%; 
}
.slider_text { 
	position: absolute;
	top:60px;
	left: 120px;
}
.slider_text ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}
.slider_text a {
	display: block;
	color: white;
	text-decoration: none;
	font-family: "Oswald", "sans serif";
	font-size: 70px;
	font-weight: bold; 
}
.slider_image {
	position: absolute;
	top: 180px;
	right: 0;
}
/* Service start*/
.services {
	margin-bottom: 40px;
}
.service {
	background:#ffcc99;
	margin-right: 30px;
	padding: 18px; 
	width: 330px;
	text-align: center;
}
.service:last-child {
	margin-right: 0px; 
}
.service h1 {
	color: #463f3a;
	font-family: "Oswald", sans-serif;
	margin:0;
}
.service p {
	font-family: "m300";
	color:#463f3a;
	margin: 0;
}
.service a {
	font-family: "m500";
	color:#f55856;
	margin: 0;
	text-decoration: none;
}
/* Portfolio One start*/
.portfolio_one {
	background: #ffcc99;
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 25px 0;
}
.heading_one {
	position: relative;
	background: url("../images/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 11px;
}
.heading_one h1 {
	font-family:"Oswald",sans-serif;
	position: absolute; 
	left: 450px;
	top:-30px;
	color: #463f3a;
	background: #ffcc99;
	padding: 5px 15px;
}
.heading_one img {
	width: 100%;
	height: 1px; 
}
.column_one {
	width: 372px;
	margin-right: 20px;
}
.column_one:last-child {
	margin-right: 0px;
}
.column_one img {
	width: 100%;
}
.one {background: #ffcc99;
	padding: 10px 20px;
}
.one h1 {
	background: #ffcc99;
	padding: 10px 60px;
	font-family: "Oswald",sans-serif;
	color:#444;
	margin:0 0 12px 5px;
}
.one p {
	color:#463f3a;
	margin:0 0 14px 5px;
	font-style: italic;
	font-family: "m500";
}
.one a {
	color:#f55856;
	text-decoration: none;
	font-style: normal;
}
/* Portfolio Two start*/
.portfolio_two {
	padding:15px 0;
	margin:0px 0 20px 0;
}
.heading_two {
	position: relative;
	background: url("../images/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 11px;
}
.heading_two h1 {
	font-family:"Oswald",sans-serif;
	position: absolute; 
	left: 450px;
	top:-30px;
	color: #463f3a;
	background: white;
	padding: 5px 15px;
}
.heading_two img {
	width: 100%;
	height: 1px;
} 
.column_two {
	margin-right:20px;
	width:275px;
}
.column_two:last-child {
	margin-right:0px;
}
.column_two img {
	width: 100%;
}
.two p {
	font-family: "m300"; 
	margin: 0;
	padding:10px 0;
}
.two h4 {
	margin: 0;
}
.two a {
	text-decoration: none;
	color: white;
	background-color: #463f3a;
	display: block;
	padding: 6px 20px;
	text-align: center;
	font-family: "Oswald",sans-serif;
	font-size: 24px;
}
/* Portfolio three start*/
.portfolio_three {
	background: #ffcc99;
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 20px 0;
}
.column_three {
	margin-right:20px;
	width:275px;
}
.column_three:last-child {
	margin-right:0px;
}
.column_three img {
	width: 100%;
}
.three p {
	font-family: "m300"; 
	margin: 0;
	padding:10px 0;
}
.three h4 {
	margin: 0;
}
.three a {
	text-decoration: none;
	color: white;
	background-color: #463f3a;
	display: block;
	padding: 6px 20px;
	text-align: center;
	font-family: "Oswald",sans-serif;
	font-size: 24px;
}
/* Blog start*/
.blog {
	padding: 10px 0;
    margin: 35px 0;
}
.column_four {
	width: 373px;
	margin-right: 20px;
}
.column_four:last-child {
	margin-right: 0px;
}
.column_four img {
	width: 100%;
}
.four h4 {
	font-family: "m300";
	color:#463f3a;
	margin:10px 0 12px 0;
	font-size: 18px;
}
.four p {
	color:#463f3a;
	margin:0 0 13px 0px;
}
.four a {
	color:#f55856;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
/* Fotter Top start*/
.footer_top {
	background: #ffcc99;
}
.footer_top h1 {
	margin:0;
	font-family: "Oswald",sans-serif;
	color:#463f3a;
	padding-top: 40px;
	font-size:35px;
}
.footer_top p {
	margin: 0;
	color: #463f3a;
	font-family: "m300";
	padding:0 0 35px;
}
.footer_top a {
	color: #f55856;
	text-decoration: none;
}
/* Fotter Middle start*/
.footer_middle {
	background:#463f3a;
	padding: 35px 0 40px;
}
.f_logo {
	margin-right: 170px;
}
.f_logo_text h1 {
	font-family: "fantasy";
    font-size: 40px;
    margin: 0;
    line-height: 37px;
}	
.f_logo_text p {
	font-size: 14px;
	font-weight: 600;
	font-family: "m300";
	margin: 0;
}	
.f_logo_icon img {
	padding-top: 2px;
    padding-left: 6px;
}    
.f_navigation {
    padding-left: 30px;
}
.f_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.f_navigation li {
	display: inline-block;
	margin-left:10px;
}
.f_navigation a {
	color:#fff;
	text-decoration: none;
	font-family: "m500";
}
.f_navigation ul li:after {
content:"/";
font-weight: bold;
color:#f55856;
padding-left:40px;
padding-right:25px;
}
.f_navigation li:last-child:after{
  content:""
}
.f_navigation a:hover {
	color: #eee;
}
.f_navigation p {
	font-size: 14px;
	text-align: center;
}
.top_icon img {
	background:rgba(0,0,0,0.2);
	padding: 15px 20px 15px;
	cursor:pointer;
}
/* Fotter Bottom start*/
.footer_bottom {
	padding: 20px 0;
	background: #ffcc99;
}
.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social li {
	margin-right:15px;
	display: inline-block;
}
.copyright p {
	margin: 0;
	font-family: "m300";
	font-size: 15px;
}
.copyright a {
	color:#f55856;
	text-decoration:none;
	font-family: "m500";
}	